params {
    genomes {
        'GRCh38' {
            fasta                      = "${params.genomes_base}/Homo_sapiens/GRCh38/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
            fastaFai                   = "${params.genomes_base}/Homo_sapiens/GRCh38/Homo_sapiens.GRCh38.dna.primary_assembly.fa.fai"
            fastaDict                  = "${params.genomes_base}/Homo_sapiens/GRCh38/Homo_sapiens.GRCh38.dna.primary_assembly.dict"
            fastaTranscript            = "${params.genomes_base}/Homo_sapiens/GRCh38/gencode.v45.transcripts.fa"
            referenceGTF               = "${params.genomes_base}/Homo_sapiens/GRCh38/Homo_sapiens.GRCh38.110.gtf"
            refflat                    = "${params.genomes_base}/Homo_sapiens/GRCh38/Homo_sapiens.GRCh38.110.refflat"
            arriba_ref_blacklist       = "${params.genomes_base}/Homo_sapiens/GRCh38/arriba/blacklist_hg38_GRCh38_v2.4.0.tsv.gz"
            arriba_ref_cytobands       = "${params.genomes_base}/Homo_sapiens/GRCh38/arriba/cytobands_hg38_GRCh38_v2.4.0.tsv"
            arriba_ref_known_fusions   = "${params.genomes_base}/Homo_sapiens/GRCh38/arriba/known_fusions_hg38_GRCh38_v2.4.0.tsv.gz"
            arriba_ref_protein_domains = "${params.genomes_base}/Homo_sapiens/GRCh38/arriba/protein_domains_hg38_GRCh38_v2.4.0.gff3"
        }

        'Nextflow_test_human' {
            fasta                      = "${params.genomes_base}/Homo_sapiens/Nextflow_test_human/genome.fasta"
            fastaFai                   = "${params.genomes_base}/Homo_sapiens/Nextflow_test_human/genome.fasta.fai"
            fastaDict                  = "${params.genomes_base}/Homo_sapiens/Nextflow_test_human/genome.dict"
            fastaTranscript            = "${params.genomes_base}//Homo_sapiens/Nextflow_test_human/transcripts.fasta"
            referenceGTF               = "${params.genomes_base}/Homo_sapiens/Nextflow_test_human/genome.gtf"
            refflat                    = "${params.genomes_base}/Homo_sapiens/Nextflow_test_human/genome.refflat"
        }
        'Other_input' {
            fasta                      = "${params.genomes_base}/" // Please specify your genome file
            fastaFai                   = "${params.genomes_base}/" // Please specify your genome index file
            fastaDict                  = "${params.genomes_base}/" // Please specify your genome dict file
            fastaTranscript            = "${params.genomes_base}/" // Please specify your transcript fasta file
            referenceGTF               = "${params.genomes_base}/" // Please specify your GTF file
            refflat                    = "${params.genomes_base}/" // Please specify your reflat
            arriba_ref_blacklist       = "${params.genomes_base}/" // Please specify the file with blacklist fusions
            arriba_ref_cytobands       = "${params.genomes_base}/" // Please specify the file with cytobands
            arriba_ref_known_fusions   = "${params.genomes_base}/" // Please specify the file with known fusions
            arriba_ref_protein_domains = "${params.genomes_base}/" // Please specify the file with protein domains
    }
  }   
}