
//Include Temporary directory
params.tempdir = "/exports/sascstudent/kaelias/scripts/wf-rnaseq-fusion/TEMP_DIR"
params.cachedir = "/exports/sascstudent/kaelias/Containers_v2/singularity_containers"
params.basedir = "/exports/sascstudent/kaelias/scripts/wf-rnaseq-fusion"


singularity {
    enabled = true
    autoMounts = true
    cacheDir = "${params.cachedir}"
}

env {
    TMPDIR = "${params.tempdir}"
}

process.executor = 'slurm'

cleanup = 'eager'
baseDir = "${params.basedir}"


//config file tasks
includeConfig 'config/tasks.config'
includeConfig 'config/parameters.config'
includeConfig 'config/input_config/igenomes.config'
