singularity {
    enabled = true
}
process.executor = 'slurm'

cleanup = 'eager'

baseDir = '/exports/sacstudent/vperinbanathan/nextflow_pipeline_testzone'


//config file tasks
includeConfig 'config/tasks.config'
includeConfig 'config/parameters.config'
includeConfig 'config/input_config/igenomes.config'
