process {
    
    //Arrib fusion
    withName: ARRIBA {
        queue =  { bam.toList().size() > 1 ?
                    (5*((bam.target.stream().reduce(0, (x, y) -> x + y.size())) * task.attempt / 1000 + 125000) < 3600000 ? 'short' : 'all') :
                    (5*(bam.target.size() * task.attempt / 1000 + 125000) < 3600000 ? 'short' : 'all')}

        memory = 10.GB
        
        time = 4.h

        cpus = 1
        
        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 3
        publishDir = [path:{"${params.outdir}/arriba_fusion/${meta.sample}/${meta.id}"},mode: 'copy']

        //xt.args = ""
    }
}