process {
    //CALCULATE REGIONS
    //bedtools merge
    withName: BEDTOOLS_MERGE {
        memory = {bed.toList().size() > 1 ?
                8.B * ((bed.target.stream().reduce(0, (x, y) -> x + y.size())) * task.attempt + (1024*1024*1024)):
                8.B * ((bed.target.size()) * task.attempt + (1024*1024*1024)) }

        time = { bed.toList().size() > 1 ?
                    8.ms * ((bed.target.stream().reduce(0, (x, y) -> x + y.size())) * task.attempt / 1000 + 125000) :
                    8.ms * (bed.target.size() * task.attempt / 1000 + 125000)}
        cpus = 2

        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 3


        ext.prefix = { "${meta.id}_out" }
    }

    

     //Bedtools Complement
    withName: BEDTOOLS_COMPLEMENT {
        memory = {bed.toList().size() > 1 ?
                8.B * ((bed.target.stream().reduce(0, (x, y) -> x + y.size())) * task.attempt + (1024*1024*1024)):
                8.B * ((bed.target.size()) * task.attempt + (1024*1024*1024))}

        time = { bed.toList().size() > 1 ?
                    8.ms * ((bed.target.stream().reduce(0, (x, y) -> x + y.size())) * task.attempt / 1000 + 125000) :
                    8.ms * (bed.target.size() * task.attempt / 1000 + 125000)}
        cpus = 2

        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 3

    }



     //Bedtools Intersect
    withName: BEDTOOLS_INTERSECT {
        memory = {intervals1.toList().size() > 1 ?
                8.B * ((intervals1.target.stream().reduce(0, (x, y) -> x + y.size()) + intervals2.target.size()) * task.attempt + (1024*1024*1024)):
                8.B * ((intervals1.target.size() + intervals2.target.size()) * task.attempt + (1024*1024*1024))}

        time = { intervals1.toList().size() > 1 ?
                    8.ms * ((intervals1.target.stream().reduce(0, (x, y) -> x + y.size()) + intervals2.target.size()) * task.attempt / 1000 + 125000) :
                    8.ms * ((intervals2.target.size() + intervals2.target.size()) * task.attempt / 1000 + 125000)}

        cpus = 2

        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 3

        ext.prefix = { "${meta.id}_out" }

    }



    //scatter regions
    withName: SCATTERREGIONS {
        memory = {input_file.toList().size() > 1 ?
                8.B * ((input_file.target.stream().reduce(0, (x, y) -> x + y.size())) * task.attempt + (1024*1024*1024)):
                8.B * ((input_file.target.size()) * task.attempt + (1024*1024*1024))}

        time = { input_file.toList().size() > 1 ?
                    8.ms * ((input_file.target.stream().reduce(0, (x, y) -> x + y.size())) * task.attempt / 1000 + 125000) :
                    8.ms * (input_file.target.size() * task.attempt / 1000 + 125000)}
        cpus = 2

        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 3
    }
}