process {
    
    //LongGF fusion
    withName: LONGGF_RUN  {
        queue =  'all'

        memory = 20.GB
        
        time = 4.h  

        cpus = 1 

        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 3
        publishDir = [path:{"${params.outdir}/LongGF_logs/${meta.sample}/${meta.id}"},mode: 'copy']

        //xt.args = ""
    }

    withName: SAMTOOLS_SORT {

        queue = { bam.toList().size() > 1 ?
                    (1*((bam.target.stream().reduce(0, (x, y) -> x + y.size())) * task.attempt / 1000 + 125000) < 3600000 ? 'short' : 'all') :
                    (1*(bam.target.size() * task.attempt / 1000 + 125000) < 3600000 ? 'short' : 'all')}

        memory = { bam.toList().size() > 1 ?
                    8.B * ((bam.target.stream().reduce(0, (x, y) -> x + y.size()) + index.target.size()) * task.attempt + (1024*1024*1024)): 
                    8.B * ((bam.target.size() + index.target.size()) * task.attempt + (1024*1024*1024))}

        time = { bam.toList().size() > 1 ?
                    1.ms * ((bam.target.stream().reduce(0, (x, y) -> x + y.size())) * task.attempt / 1000 + 125000) :
                    1.ms * (bam.target.size() * task.attempt / 1000 + 125000)}
        cpus = 2

        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 3

        ext.args = '-n'
        ext.prefix = { "${meta.id}_sorted_name" }
    }

}