//"../../project-475-MelissaBroeksRNAseq/src/01_biowdl/samplesheet.csv"
params {
    outdir = "/exports/sascstudent/kaelias/scripts/wf-rnaseq-fusion/test_output_arriba"
    genomes_base = "/exports/sascstudent/kaelias/Genomes"
    
    //files mandatory
    sampleConfigFile = "./test_data/test_samples.yml" 
    genome = null

    //optional files
    dbsnpVCF = []
    dbsnpVCFIndex = []
    cpatLogitModel = []
    cpatHex = []
    lncRNAdatabases = []
    variantCallingRegions = null
    xNonParRegions = null
    yNonParRegions = null
    
    //variables mandatory
    strandedness = "RF"

    //variables optional
    variantCalling = false
    dgeFiles = true
    adapterForward = "AGATCGGAAGAG"
    adapterReverse = "AGATCGGAAGAG"
    contaminations = []


    //star variables
    starIndex = null
    get_output_stats = true
    umiDeduplication = false
    seq_center = []
    seq_platform = 'illumina'
    star_ignore_sjdbgtf = false

    //hisat variables
    hisat2 = null

    //variantcal preprocess
    splitSplicedReads = false

    //scatter size default is 0. Used if there is only a single scatter. If there is 2 or more scatters, set scatter_size to 2
    scatter_size = 0


    //collect rna seq metrics
    rrna_intervals = []


    //variantcalling single strandedness
    gender = "unknown"
    mergeVcf = false
    gvcf = false

    //EXPRESSION QUANTIFICATION
    runStringtieQuantification = true
    lncRNAdetection = false
    detectNovelTranscripts = true

    //Arriba fusion detection
    arriba = true
    all = true
    fusioninspector_only  = false
    arriba_fusions = false
    cram = []

    //LongGF fusion
    longgf = true

    //RNA-Bloom2 assembly 
    runRNABLoom2 = true

    //Differntial transcript analysis
    dta = true
}