//"../../project-475-MelissaBroeksRNAseq/src/01_biowdl/samplesheet.csv"

//This is the parameters config file. This file contains all the parameters that will be used within the workflow itself.
params {
    outdir = "./outputfiles"
    genomes_base = "/exports/sascstudent/vperinbanathan/Genomes"
    test_data_base = "https://raw.githubusercontent.com/nf-core/test-datasets/modules"
    
    //files mandatory
    sampleConfigFile = "./test/data/samplesheet.yml" //relative path
    genome = ''

    //optional files
    dbsnpVCF = "../common_all_20180418.vcf.gz"
    dbsnpVCFIndex = "../common_all_20180418.vcf.gz.tbi"
    cpatLogitModel = []
    cpatHex = []
    lncRNAdatabases = []
    variantCallingRegions = null
    xNonParRegions = null
    yNonParRegions = null
    
    //variables mandatory
    strandedness = "RF"

    //variables optional
    variantCalling = true
    dgeFiles = true
    adapterForward = "AGATCGGAAGAG"
    adapterReverse = "AGATCGGAAGAG"
    contaminations = []


    //star variables
    starIndex = null
    get_output_stats = false
    umiDeduplication = true
    seq_center = []
    seq_platform = 'illumina'
    star_ignore_sjdbgtf = true

    //hisat variables
    hisat2 = null

    //variantcal preprocess
    splitSplicedReads = true

    //scatter size default is 0. Used if there is only a single scatter. If there is 2 or more scatters, set scatter_size to 2
    scatter_size = 2


    //collect rna seq metrics
    rrna_intervals = []


    //variantcalling single strandedness
    gender = "unknown"
    mergeVcf = true
    gvcf = false

    //EXPRESSION QUANTIFICATION
    runStringtieQuantification = true
    lncRNAdetection = false



}
