//"../../project-475-MelissaBroeksRNAseq/src/01_biowdl/samplesheet.csv"
params {
    outdir = "./outputfiles"
    genomes_base = "/exports/sascstudent/vperinbanathan/Genomes"
    
    //files mandatory
    sampleConfigFile = "./inputfiles/testfiles_nextflow/samplesheet.yml"
    genome = null

    //optional files
    dbsnpVCF = []
    dbsnpVCFIndex = []
    cpatLogitModel = []
    cpatHex = []
    lncRNAdatabases = []
    variantCallingRegions = null
    xNonParRegions = null
    yNonParRegions = null
    
    //variables mandatory
    strandedness = "RF"

    //variables optional
    variantCalling = false
    dgeFiles = true
    adapterForward = "AGATCGGAAGAG"
    adapterReverse = "AGATCGGAAGAG"
    contaminations = []


    //star variables
    starIndex = null
    get_output_stats = false
    umiDeduplication = true
    seq_center = []
    seq_platform = 'illumina'
    star_ignore_sjdbgtf = true

    //hisat variables
    hisat2 = null

    //variantcal preprocess
    splitSplicedReads = false

    //scatter size default is 0. Used if there is only a single scatter. If there is 2 or more scatters, set scatter_size to 2
    scatter_size = 0


    //collect rna seq metrics
    rrna_intervals = []


    //variantcalling single strandedness
    gender = "unknown"
    mergeVcf = true
    gvcf = false

    //EXPRESSION QUANTIFICATION
    runStringtieQuantification = true
    lncRNAdetection = false



}
