process {

     //fastqc
    withName: FASTQC {
        queue = { reads.toList().size() > 1 ?
                    (1*((reads.target.stream().reduce(0, (x, y) -> x + y.size())) * task.attempt / 1000 + 125000) < 3600000 ? 'short' : 'all') :
                    (1*(reads.target.size() * task.attempt / 1000 + 125000) < 3600000 ? 'short' : 'all')}

        memory = {reads.toList().size() > 1 ?
                    8.B * ((reads.target.stream().reduce(0, (x, y) -> x + y.size())) * task.attempt + (1024*1024*1024)):
                    8.B * (reads.target.size() * task.attempt + (1024*1024*1024))}

        time = {reads.toList().size() > 1 ?
                    1.ms * ((reads.target.stream().reduce(0, (x, y) -> x + y.size())) * task.attempt /1000 + 125000) :
                    1.ms * (reads.target.size() * task.attempt /1000 + 125000)}
        
        cpus = 1

        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 3

        publishDir = [path:{"${params.outdir}/quality_check/${meta.sample}/${meta.id}"},mode: 'copy']

    }



    //cutadapt
    withName: CUTADAPT {
        
        queue = { reads.toList().size() > 1 ?
                    (1*((reads.target.stream().reduce(0, (x, y) -> x + y.size())) * task.attempt / 1000 + 125000) < 3600000 ? 'short' : 'all') :
                    (1*(reads.target.size() * task.attempt / 1000 + 125000) < 3600000 ? 'short' : 'all')}

        memory = {reads.toList().size() > 1 ?
                    8.B * ((reads.target.stream().reduce(0, (x, y) -> x + y.size())) * task.attempt + (1024*1024*1024)) :
                    8.B * (reads.target.size() * task.attempt + (1024*1024*1024))}

        time = { reads.toList().size() > 1 ?
                    1.ms * ((reads.target.stream().reduce(0, (x, y) -> x + y.size())) * task.attempt / 1000 + 125000):
                    1.ms * (reads.target.size() * task.attempt / 1000 + 125000)}

        cpus = 1

        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 3
    }
}