//Config file for the sample subworkflow processes
process {

    //star genome generate
    withName: STAR_GENOMEGENERATE {

        queue = {(fasta.target.size() * task.attempt / 1000 + 60000)*1.2 < 3600000 ? 'short' : 'all'}
        memory = { 10.B * ((2.5 * fasta.target.size() * (task.attempt*0.5 + 1)) + (1024*1024*1024)) }
        time = { 1.ms * (fasta.target.size() * task.attempt / 1000 + 60000)*1.2}
        cpus = 10

        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 3

        ext.args = '--genomeSAindexNbases 14'

    }



    //star align
    withName: STAR_ALIGN {

        //Checks if 5 milliseconds time size is below 1 hour. If so, it will be placed in short queue, else in all queue
        queue = { reads.toList().size() > 1 ?
                    (1*((reads.target.stream().reduce(0, (x, y) -> x + y.size())) * task.attempt / 1000 + 300000) < 3600000 ? 'short' : 'all') :
                    (1*(reads.target.size() * task.attempt / 1000 + 125000) < 3600000 ? 'short' : 'all')}

        memory = {1.B * index.target.size() * 1.3 * (task.attempt * 0.1 + 0.9)}
        
        time = { reads.toList().size() > 1 ?
                    1.ms * ((reads.target.stream().reduce(0, (x, y) -> x + y.size())) * task.attempt / 1000 + 300000) :
                    1.ms * (reads.target.size() * task.attempt / 1000 + 125000)}
        cpus = 8

        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 3


        ext.args = '--readFilesCommand zcat --outSAMtype BAM SortedByCoordinate --outBAMcompression 1 --outSAMunmapped Within KeepPairs --twopassMode Basic'
    
    }



    //hisat2 align
    withName: HISAT2_ALIGN {

        memory = {reads.toList().size() > 1 ?
                    8.B * ((reads.target.stream().reduce(0, (x, y) -> x + y.size()) + index.target.size()) * task.attempt + (1024*1024*1024)): 
                    8.B * ((reads.target.size() + index.target.size()) * task.attempt + (1024*1024*1024))}

        time = { reads.toList().size() > 1 ?
                    8.ms * ((reads.target.stream().reduce(0, (x, y) -> x + y.size())) * task.attempt / 1000 + 125000) :
                    8.ms * (reads.target.size() * task.attempt / 1000 + 125000)}
        cpus = 2

        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 3

        ext.args = '--rg "PL:illumina"'

        ext.prefix = { "${meta.id}_Hisat2" }


    }

    //Samtools Sort
    withName {

        queue = { reads.toList().size() > 1 ?
                    (1*((reads.target.stream().reduce(0, (x, y) -> x + y.size())) * task.attempt / 1000 + 125000) < 3600000 ? 'short' : 'all') :
                    (1*(reads.target.size() * task.attempt / 1000 + 125000) < 3600000 ? 'short' : 'all')}

        memory = {reads.toList().size() > 1 ?
                    8.B * ((reads.target.stream().reduce(0, (x, y) -> x + y.size()) + index.target.size()) * task.attempt + (1024*1024*1024)): 
                    8.B * ((reads.target.size() + index.target.size()) * task.attempt + (1024*1024*1024))}

        time = { reads.toList().size() > 1 ?
                    1.ms * ((reads.target.stream().reduce(0, (x, y) -> x + y.size())) * task.attempt / 1000 + 125000) :
                    1.ms * (reads.target.size() * task.attempt / 1000 + 125000)}
        cpus = 2

        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 3

    }



    //picard markduplicates
    withName: PICARD_MARKDUPLICATES {

        publishDir = [path:{"${params.outdir}/bamfiles_per_sample/${meta.id}"}, mode: 'copy']

        queue = { reads.toList().size() > 1 ?
                    (5*((reads.target.stream().reduce(0, (x, y) -> x + y.size())) * task.attempt / 1000 + 125000) < 3600000 ? 'short' : 'all') :
                    (5*(reads.target.size() * task.attempt / 1000 + 125000) < 3600000 ? 'short' : 'all')}

        memory = { 5.GB * ((fasta.target.size() / 1024 / 1024 / 1024) + 10) }

        time = { reads.toList().size() > 1 ?
                    5.ms * ((reads.target.stream().reduce(0, (x, y) -> x + y.size())) * task.attempt / 1000 + 125000) :
                    5.ms * (reads.target.size() * task.attempt / 1000 + 125000)}
        cpus = 8

        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 3

        ext.args = '--COMPRESSION_LEVEL 1 --USE_JDK_INFLATER false --USE_JDK_DEFLATER true --CREATE_INDEX true --CLEAR_DT false --CREATE_MD5_FILE false --ADD_PG_TAG_TO_READS false --VALIDATION_STRINGENCY SILENT --OPTICAL_DUPLICATE_PIXEL_DISTANCE 2500'


    }
//Original code for Nextflow version. Remember to change main directory to modules directory instead of custom_modules    
//ext.args = '--COMPRESSION_LEVEL 1 --USE_JDK_INFLATER false --USE_JDK_DEFLATER true --CREATE_INDEX true --CLEAR_DT false --CREATE_MD5_FILE false --ADD_PG_TAG_TO_READS false --VALIDATION_STRINGENCY SILENT --OPTICAL_DUPLICATE_PIXEL_DISTANCE 2500'


    //umitool dedup
    withName: UMITOOLS_DEDUP {

        queue = { bam.toList().size() > 1 ?
                    (1*((bam.target.stream().reduce(0, (x, y) -> x + y.size())) * task.attempt / 1000 + 125000) < 3600000 ? 'short' : 'all') :
                    (1*(bam.target.size() * task.attempt / 1000 + 125000) < 3600000 ? 'short' : 'all')}

        memory = {bam.toList().size() > 1 ?
                8.B * ((bam.target.stream().reduce(0, (x, y) -> x + y.size())) * task.attempt + (1024*1024*1024)):
                8.B * ((bam.target.size()) * task.attempt + (1024*1024*1024))}

        time = { bam.toList().size() > 1 ?
                    1.ms * ((bam.target.stream().reduce(0, (x, y) -> x + y.size())) * task.attempt / 1000 + 125000) :
                    1.ms * (bam.target.size() * task.attempt / 1000 + 125000)}
        cpus = 2

        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 3

        ext.args = { ['--umi-separator=:'].join(' ').trim() }
        ext.prefix = { "${meta.id}.dedup" }
    }
}
