process {

    //fastqc
    withName: FASTQC {
        memory = { 2.GB * task.attempt }
        time = { 1.hour * task.attempt }
        cpus = 2

        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 3
    }

    //cutadapt
    withName: CUTADAPT {
        memory = { 2.GB * task.attempt }
        time = { 1.hour * task.attempt }
        cpus = 2

        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 3
    }

    //star genome generate
    withName: STAR_GENOMEGENERATE {
        memory = { 2.GB * task.attempt }
        time = { 1.hour * task.attempt }
        cpus = 2

        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 3
    }

    //star align
    withName: STAR_ALIGN {
        memory = { 2.GB * task.attempt }
        time = { 1.hour * task.attempt }
        cpus = 2

        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 3


        ext.args = '--readFilesCommand zcat --outSAMtype BAM SortedByCoordinate --outWigType bedGraph --outWigStrand Unstranded'
    }

    //hisat2 align
    withName: HISAT2_ALIGN {
        memory = { 2.GB * task.attempt }
        time = { 1.hour * task.attempt }
        cpus = 2

        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 3

    }

    //picard markduplicates
    withName: PICARD_MARKDUPLICATES {
        memory = { 2.GB * task.attempt }
        time = { 1.hour * task.attempt }
        cpus = 2

        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 3

        ext.args = '--CREATE_INDEX true'
    }

    //umitool dedup
    withName: UMITOOLS_DEDUP {
        memory = { 2.GB * task.attempt }
        time = { 1.hour * task.attempt }
        cpus = 2

        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 3

        ext.prefix = { "${meta.id}.dedup" }
    }

    //samtools flagstat
    withName: SAMTOOLS_FLAGSTAT {
        memory = { 2.GB * task.attempt }
        time = { 1.hour * task.attempt }
        cpus = 2

        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 3
    }

    //picard collect multiple metrics
    withName: PICARD_COLLECTMULTIPLEMETRICS {
        memory = { 2.GB * task.attempt }
        time = { 1.hour * task.attempt }
        cpus = 2

        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 3
    }

    //picard collect rna metrics
    withName: PICARD_COLLECTRNASEQMETRICS {
        memory = { 2.GB * task.attempt }
        time = { 1.hour * task.attempt }
        cpus = 2

        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 3

        ext.args = { ( meta.strandedness == "forward" || meta.single_end ) ?
            "--STRAND_SPECIFICITY FIRST_READ_TRANSCRIPTION_STRAND" :
        meta.strandedness == "reverse" ?
        "--STRAND_SPECIFICITY SECOND_READ_TRANSCRIPTION_STRAND" :
        "--STRAND_SPECIFICITY NONE" }
    }

    //bedtools merge
    withName: BEDTOOLS_MERGE {
        memory = { 2.GB * task.attempt }
        time = { 1.hour * task.attempt }
        cpus = 2

        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 3


        ext.prefix = { "${meta.id}_out" }
    }



}